@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-001: #ffffff;
  --white-002: #f3f3f3;
  --white-003: #f5f5f5;
  --white-004: #f7f8f8;
  --white-005: #d9d9d9;
  --white-006: #ececec;

  --gray-001: #b3b3b3;
  --gray-002: #757575;
  --gray-003: #727272;
  --gray-004: #c3c3c3;
  --gray-005: #f7f7f7;
  --gray-006: #e3e3e3;
  --gray-007: #898989;
  --gray-008: #9da3ae;
  --gray-009: #cccccc;
  --gray-010: #727272;
  --gray-011: #666666;

  --black-001: #111111;
  --black-002: #1e1e1e;
  --black-003: #2c2c2c;
  --black-004: #1d222b;

  --red-001: #c00f0c;
  --red-002: #f9595f;

  --yellow-001: #e2ff00;
  --yellow-002: #faffd1;

  --orange-001: #ff6f3c;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
